@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@font-face {
    font-family: 'Raleway';         /** import font raleway **/
    src: url('../fonts/Raleway.woff');
    src: url('../fonts/Raleway.ttf') format(Truetype), }

html { 
    margin: auto;
    background: white;   
}

header {
    text-align: center;
    color: white;
}

.bloc_header img { /** Profile picture **/
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 6px 6px 25px black;
    cursor: zoom-in;
    object-fit: cover;
}